<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SSA Blog | <%= title%></title>
<!--    the file below is accessible because it's in the folder 'public'-->
    <link rel="stylesheet" href="/style.css">
</head>