<nav>
    <div class="site-title">
        <h1><a href="/">Le Blog</a></h1>
        <p>Musings on code, design and writing.</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Post</a></li>
    </ul>
</nav>