<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
<nav>
    <div class="site-title">
        <a href="/">My Blog</a>
        <p>A Syafii Ghazali Website</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="blogs/create">New Blog</a></li>
    </ul>
</nav>

<div class="error content">
    <h2>404 Error</h2>
    <p>This page doesn't exist!</p>
</div>
<%- include('./partials/footer.ejs')%>
</body>
</html>