<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
<%- include('./partials/nav.ejs') %>

<div class="about content">
    <h2>About me</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eaque illum ipsa maiores placeat, sint sit soluta? Harum, pariatur, sed. Asperiores commodi deserunt iste, minus placeat quo rerum voluptas. Molestias!</p><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eaque illum ipsa maiores placeat, sint sit soluta? Harum, pariatur, sed. Asperiores commodi deserunt iste, minus placeat quo rerum voluptas. Molestias!</p><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eaque illum ipsa maiores placeat, sint sit soluta? Harum, pariatur, sed. Asperiores commodi deserunt iste, minus placeat quo rerum voluptas. Molestias!</p><br>
</div>
<%- include('./partials/footer.ejs')%>

</body>
</html>